{% load static from staticfiles %}
<!doctype html>
<html>
		<head>
			<title>{% block title %}{% endblock %}</title>
			<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
			<link rel="stylesheet" href="{% static 'css/style.css' %}">
		</head>
		<body>
		<nav class="navbar navbar-dark bg-dark">
			<!-- Navbar content -->
			<a class="navbar-brand" href="{% url 'root_url' %}">Face Detection</a>
			
			<ul class="navbar-nav mr-auto">
				{% if user.is_authenticated %}
					<li class="nav-item"><a href="{% url 'logout'%}">Logout</a></li>
				{% else %}
					<li class="nav-item active text-white"><a href="{% url 'login'%}">Login</a></li>
				{% endif %}
			</ul>
			<ul class="navbar-nav ">
				{% if user.is_authenticated %}
					<li class="nav-item active text-white">Welcome {{ user.email }}</li>
				{% endif  %}
			</ul>
			
		</nav>
		</br>
		{% block content %}
		{% endblock content %}
		</body>
</html>