{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="col-md-offset-4">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th> Username </th>
                        <th>First Name</th>
                        <th>Last Name </th>
                        <th> Department</th>
                        <th> Show </th>
                        <th> Edit </th>
                    </tr>
                </thead>
                <tbody>
                    {% for employee in employees %}
                        <tr>
                            <th>{{ employee.username }}</th>
                            <th>{{ employee.first_name }}</th>
                            <th>{{ employee.last_name }}</th>
                            <th>{{ employee.department }}</th>
                            <th><a href="{%url 'employees:show_employee' employee.id %}">Show</a></th>
                            <th><a href="{%url 'employees:edit_employee' employee.id %}">Edit</a></th>
                        </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}