{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-offset-4 col-md-8">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-blue">
                            <thead>
                                <tr>
                                    <th>Username </th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Department</th>
                                </tr>       
                            </thead>
                            <tbody>
                                <tr>
                                    <th>{{ employee.username }}</th>
                                    <th>{{ employee.first_name }}</th>
                                    <th>{{ employee.last_name }}</th>
                                    <th>{{ employee.department }}</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
    {% for  file in files %}
        <img src="{{ MEDIA_URL }}{{file}}" class="img-fluid" alt="Cinque Terre">
    {% endfor %}
    </div>
{% endblock content %}