{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body bg-dark">
                        <ul class="list-group">
                            <li class="list-group-item">Username: {{ employee.username }}<br>
                            <li class="list-group-item">First Name: {{ employee.first_name }}<br>
                            <li class="list-group-item">Last Name: {{ employee.last_name }}<br>
                            <li class="list-group-item">Department: {{ employee.department }}
                        </ul>      
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                {% if images %}
                    <div class="card">
                        <div class="card-body bg-dark">
                            <div class="row">
                                {% for  image in images %}
                                    <div class="col-md-2">
                                        <img width="50%" height="50%" src="{{ MEDIA_URL }}{{image}}"  alt="Cinque Terre">
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <a class="btn btn-success" href="{%url 'employees:edit_employee' employee.id %}">Edit Employee</a>
    </div>
{% endblock content %}